body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 1.57em 0;
  font: normal normal bold 4em/0.250em Degular-Display;
  color: #010101;
}

h2 {
  font: normal normal bold 3em/1em Degular-Display;
}

h4 {
  font: normal normal bold 3em/1em Degular-Display;
}

p {
  font: normal normal normal 1.5em/1em Degular-Text;
}

header {
  height: 70vh;
  text-align: center;
}

header img {
  margin: 0;
  padding: 0;
  width: 80%;
  position: relative;
}
  
.about {
  height: 100vh;
  background-color: #299AE7;
  text-align: center;
  color: #ffffff;
}

.about h2 {
  margin: 0;
}

.about div {
  margin: 0 auto;
  position: relative;
  top: 22rem;
  width: 57.485%;
}

.learning {
  text-align: center;
}

.learning h2 {
  margin-top: 5rem;
}

.flex-items {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 67.485%;
}

.flex-items img {
  transition: 1200ms;
}

.flex-items img:hover {
  transform: rotate(20deg);
}

.flex-items p {
  text-align: left;
  margin-left: 4em;
}

ul {
  position: relative;
  left: 31rem;
}

li {
  position: relative;
  clear: both;
  padding: 0.538em 0;
  width: 44%;
  border-top: 1px solid #9A9A9A;
  font: normal normal bold 1.125em/1.438em Degular Text;
  text-align: left;
  list-style: none;
}

li:last-child {
  border-bottom: 1px solid #9A9A9A;
}

li:hover {
  color: orangered;
}
 
ul span {
  float: right;
  clear: both;
  font: normal normal 1.125em/1.438em Degular Text;
  color: #626262;
}

