body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 1.57em 0;
  font: normal normal bold 4em/0.250em Degular-Display;
  color: #010101;
}

h2 {
  font: normal normal bold 3em/1em Degular-Display;
}

h4 {
  font: normal normal bold 1.5em/1em Degular-Display;
}

p {
  font: normal normal normal 1.5em/1em Degular-Text;
}

header {
  height: 70vh;
  text-align: center;
}

header img {
  margin: 0;
  padding: 0;
  width: 80%;
  position: relative;
}
  
.about {
  height: 100vh;
  background-color: #299AE7;
  text-align: center;
  color: #ffffff;
}

.about h2 {
  margin: 0;
}

.about div {
  margin: 0 auto;
  position: relative;
  top: 22rem;
  width: 57.485%;
}

.learning {
  height: 85vh;
  text-align: center;
}

.learning h2 {
  margin-top: 5rem;
}

.flex-items {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 67.485%;
}

.flex-items img {
  transition: 1200ms;
}

.flex-items img:hover {
  transform: rotate(20deg);
}

.flex-items p {
  text-align: left;
  margin-left: 4em;
}

ul {
  max-width: 100%;
  float: right;
  clear: both;
  position: relative;
  right: 24.9rem;
  text-align: left;
}

li {
  padding: 0.538em 0;
  border-top: 1px solid #9A9A9A;
  font: normal normal bold 1.125em/1.438em Degular Text;
  text-align: left;
  list-style: none;
}

li:last-child {
  border-bottom: 1px solid #9A9A9A;
}

li:hover {
  color: orangered;
}
 
ul span {
  float: right;
  clear: both;
  font: normal normal 1.125em/1.438em Degular Text;
  color: #626262;
}

.projects {
  background: #8B71EA;
  text-align: center;
}

.projects h2 {
  padding-top: 5rem;
}

.projects p {
  margin: 0 auto 3em auto;
  width: 57.485%;
}

.projects-container {
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
}

.project-content h4{
  margin: 0.3em 0;
  color: #010101;
}

.project-content p {
  margin: 0;
  padding: 0;
  font: normal normal normal 1em/1.313em Degular Text;
  color: #414141;
  text-align: left;
}

.project-content {
  width: 28.271%;
  height: 27.57rem;
  margin-bottom: 5rem;
  padding: 0.5em;
  border: 1px solid #9A9A9A;
  background: #ffffff;
  text-align: left;
}

.project-content img {
  width: 100%;
  height: 16rem;
}

footer {
  margin: 0;
  padding: 0%;
  background: #010101;
  color: #ffffff;
  text-align: center;
}
footer .wave {
  margin: 0;
  padding: 0;
  max-width: 100%;
  position: relative;
  top: -1rem;
}

footer a {
  font: normal normal bold 1em/1.313em Degular Text;
  text-decoration: none;
  color: #ffffff;
}

footer a img {
  height: 1.313em;
  color: white;
}

footer p {
  font: normal normal bold 1em/1.313em Degular Text;
}